*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.homepage {
    position: absolute;
    top: 0;
    left: 0;
}
.theme-light {
    background-color: white;
    color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.theme-dark {
    background-color: #222;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}